.logoImglogin{
  width: 100px;
  height: 100px;
}
.expertInfoCon{
  display:flex;
  flex-direction: row;

}
.expertInfo{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  div{

    min-width: 1px;
  }
}
.expertInfo3{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  div{

    min-width: 1px;
  }
}
.expertInfo2{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  div{

    min-width: 1px;
  }
}
.seedlingInfoCon{
  display:flex;
  flex-direction: row;

}
.seedlingInfo{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  div{

    min-width: 1px;
  }
}
.seedlingInfo3{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  div{

    min-width: 1px;
  }
}
.seedlingInfo2{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  div{

    min-width: 1px;
  }
}
.con{
  display:flex;
  flex-direction: row;
  margin-bottom: 20px;

}
.con3{
  display:flex;
  flex-direction:column;
}
.con2{
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}
.line{
  height: 5px;
  background-color: #f1f4f8;
  margin: 10px 0;
}
.line2{
  height: 10px;
  background-color: #f1f4f8;
  //margin: 10px 0;
}
.pagination{
  //margin-top: 16px!important;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link  {

  border-color: #FFF!important;
}
.ant-pagination-disabled{
  border-color: #FFF!important;

}
.ant-pagination-item{
  border-radius: 30px !important;
  background-color: rgba(255,255,255,0)!important;
  min-width: 25px!important;
  min-height: 25px!important;
  height: 25px!important;
  line-height: 25px!important;
  a{
    padding: 0!important;
  }
}
.ant-pagination-item-active {
  background: rgba(255,255,255,0.1)!important;
  //background-color: rgba(255,255,255,0)!important;
  background: url("../img/circle.png") no-repeat  !important;
  background-size: cover!important;
  border-color: transparent!important;
  a{
    color: #FFF!important;
  }
}

.addExpertImg{
  width: 77px;
  height: 23px;
  background: url("../img/line_row.png") no-repeat 100% 100%;
  color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0 8px;
  margin-right: 20px;
}
.pointer{
  cursor: pointer;
}
.expertFontColor{
  color: #333333;
  font-size: 17px;
  font-weight: 400;
}
.expertDiv{
    width: 175px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    .div1{
      display: inline-block;
      width: 70px;
      text-align-last:justify;
      text-align:justify;

    }
    .div2{
      display: inline-block;
      width: 100px;
    }


  }
  .tabTitle{
    font-size: 17px;
    font-weight: 500;
  }
  .tabSmallTitle{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }
.seedlingDiv{
  width: 175px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    .div1{
      display: inline-block;
      width: 70px;
      text-align-last:justify;
      text-align:justify;

    }
    .div2{
      display: inline-block;
      width: 100px;
      word-wrap: break-word;
    }
}
.serviceDiv{
  width: 90%;
  margin: auto;
  margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    .div1{
      display: inline-block;
      width: 70px;
      text-align-last:justify;
      text-align:justify;

    }
    .div2{
      display: inline-block;
      width: 100px;
    }
    .cardTitle{
      font-size: 16px;
      font-weight: 500;
    }
    .cardBody{
      margin-left: 10%;
      margin-top: 10px;
    }
}
.seedlingDiv8{
  width: 175px;
  display: flex;
  align-items: baseline;
  .div1{
    display: inline-block;
    width: 70px;
    text-align-last:justify;
    text-align:justify;

  }
  .div2{
    display: inline-block;
    width: 100px;
  }


}
.seedlingDiv1{
  width: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  .div1{
    display: inline-block;
    width: 70px;
    text-align-last:justify;
    text-align:justify;

  }
  .div2{
    display: inline-block;
    width: 100px;

  }

}
.seedlingDiv2{
  width: 290px;
  text-align: left;
  .ant-form-item-label {
    width: 100px!important;
  }
  .seedlingInput{
    width: 158px;
  }
}
.seedlingDiv3{
  width: 400px;
  text-align: left;
  .ant-form-item-label {
    width: 100px!important;
  }
  .seedlingInput{
    width: 158px;
  }
  .seedlingInputArea{
    width: 255px;
  }
  .seedlingInput2{
    width: 100px;
  }
}
.seedlingDiv4{
  width: 280px;
  .ant-form-item-label {
    width: 100px!important;
  }
  .seedlingInput{
    width: 158px;
  }
}

.expertDiv8{
  width: 175px;
  display: flex;
  align-items: baseline;
  .div1{
    display: inline-block;
    width: 70px;
    text-align-last:justify;
    text-align:justify;

  }
  .div2{
    display: inline-block;
    width: 100px;
  }


}
.expertDiv1{
  width: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  .div1{
    display: inline-block;
    width: 70px;
    text-align-last:justify;
    text-align:justify;

  }
  .div2{
    display: inline-block;
    width: 100px;

  }

}
.expertDiv2{
  width: 290px;
  text-align: right;
  .ant-form-item-label {
    width: 100px!important;
  }
  .expertInput{
    width: 158px;
  }
}
.expertDiv3{
  width: 280px;
  text-align: right;
  .ant-form-item-label {
    width: 100px!important;
  }
  .expertInput{
    width: 158px;
  }
}
.expertDiv4{
  width: 280px;
  .ant-form-item-label {
    width: 100px!important;
  }
  .expertInput{
    width: 158px;
  }
}

.loginBg{
  background: url("../img/background.png") no-repeat  !important;
  background-size: cover!important;
  width: 100%;
  height: 100%;
  min-height: 700px;
}
#app{
  width: 100%;
  height: 100%;
}
.loginBg1{
  background: url("../img/login1.png") no-repeat  !important;
  background-size: cover!important;
  width: 400px;
  height: 274px;
  margin: auto;
}
.loginBg2{
  background: url("../img/login2.png") no-repeat  !important;
  background-size: cover!important;
  width: 301px;
  height: 212px;
  margin: auto;
  text-align: center;
  padding: 10px;
}
.loginLine{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;


}
.logoLineFont{
  font-size: 20px;
  font-weight: bold;
}
.loginLogo{
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 100px;
}
.loginForm{
  width: 200px;
  height:150px;
  margin:  auto!important;
  .ant-form-item{
    margin-bottom: 8px!important;
  }
}
.loginBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
  margin-top: -10px;
}
.serviceCon{
  width: 242px;
  display: flex;
  align-items: center;
  justify-content: space-between;
       margin:    8px 10px
}
.serviceConItem{

}
.service{
  border: 1px solid #167cd9;
  border-radius: 20px;
  padding: 1px 6px;
}
.ant-menu-item-selected {
  background-color: #f9fafe!important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border-right-width: 0!important;

}
.ant-cascader-picker-label{
  text-align: left!important;
}
.buttonBaseInfo{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.loginContain{
  width: 500px;
  height: 600px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -250px;
}
.expertRecommend{
  background-color:rgba(22,124,217,.8) ;
  color: white;
  cursor:pointer;
  padding: 2px;
  border-radius: 5px;

}
.expertRecommendCon{
    width: 100px;
    text-align: center;
  cursor:pointer;
    img{
      width: 100px;
      height: 160px;
    }

}
.expertRecommendCon :hover{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  img{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
  }
  span{
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
}
}
.searchbyChar{
  width: 60px;
  display: inline-block;
}
.searchbyChar:hover{
  color:rgba(22,124,217,.8)
}
.rad1{
}
.check1{
  margin-left:100px;
}
.but3{
  margin-right: 60px;
}
.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-dots-bottom {
  bottom: 100px!important;
}
.space-carousel {
  padding: 0px!important;
  background: #e08e0b!important;
  //overflow: hidden!important;
}
.previewExpert{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

}
.previewCon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  10px 0;
  margin-right: 26px;
}
.previewCon2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:  10px 0;

}
.previewFont{
  color:rgba(22,124,217,.8)
}
.previewBorder{
  border: 1px solid rgba(22,124,217,1);
}
.payattention{
  text-align:left;
  color:white;
  width:406px;
  margin:auto;
  margin-top:100px;
}
.pagestyle{
  background-color: #FFF;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
}
.specialdiv0{
  display: none;
}
.rad2{
  display: none;
}
.choosediv{
  display: none;
}
.importantChoose{
  display: none;
}
.spesearchdiv1{
  display: none;
}
.normaldiv{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding-top: 16px;
}
.orderReturnButton{
  margin-right: 20px;
}
.orderCard{
  width: 100%;
  background-color: white;
}
.orderCardText1{
  font-size: 14px;
  font-weight: inherit;
  margin-left: 10px;
  width: 60%;
}
.orderCardText2{
  font-size: 14px;
  font-weight: inherit;
  margin-left: 10px;
  width: 20%;
}
.orderCardText3{
  font-size: 14px;
  font-weight: inherit;
  margin-left: 10px;
  width: 20%;
}
.orderCardTop{
  width: 100%;
  height: 30px;
  background-color: #f1f1f1;
  align-items: center;

  display: flex;
  flex-direction: row;
}
.orderCardMiddle{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}
.orderCardMiddle1{
  display: flex;
  flex-direction: row;
  //margin-left: 10px;
  width:20%;
}
.orderCardMiddle2{
  margin-left: 10px;
  width: 35%;
}
.orderCardMiddle222{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.orderCardMiddle22{
  //width: 35%;
  width: 15%;
}
.orderCardMiddle3{
  width: 10%;
  display: flex;
  flex-direction: column;
}
.orderCardMiddle4{
  width: '9%';
}
.orderCardMiddle44{
  width: 9%;
}
.orderCardMiddle444{
  width:100px;
}
.orderline{
  width: 100%;
  height: 1px;
  background-color:#f0f2f5;
  //margin-bottom: 10px;
}
.orderline2{
  width: 100%;
  height: 0.5px;
  background-color:#f0f2f5;
  //margin-top: 10px;
}
.orderline22{
  width: 0.5px;
  height: 140px;
  background-color:#f0f2f5;
}
.orderline23{
  width: 0.5px;
  height: 60px;
  background-color:#f0f2f5;
}
.orderText{
  width: 70px;
  text-align-last:justify;
  text-align:justify;
  text-justify:distribute-all-lines; // 这行必加，兼容ie浏览器
}
.expressData{
  .ant-steps-item-content{
    width: 80%;
  }
}
.introduceStyle{
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  //margin-left:30px;
  width:60px;
}
.containerAll{
  //width: 100px;
  margin: auto;
}
.seedName{
  color: rgba(0, 0, 0, 01);
  font-weight: 600;
}
.labelPurchase{
  font-size: 10px;
  color: rgba(0, 0, 0, .5);
  margin-left: 2px;

}
.containerAll{
  margin-top: 20px;
}
.img_line{
  width: 100px;
  height: 1px;
}
.avatar-uploader{
  display: flex;
  flex-wrap: wrap;
}
.ant-upload-list{
  display: flex!important;
  //max-width: 810px!important;
  flex-wrap: wrap!important;
}
.ant-upload-list-picture-card .ant-upload-list-item {

  overflow: hidden!important;
}





